@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

:root {
  --accent-color: rgb(75, 107, 33);
  --accent-color-2: #d4722d;
  --accent-color-3: #187720;
  --accent-color-4: #7aad44;
  --accent-color-5: #707425;
  --accent-color-5: #d54c27;

  --currblock: 1;
  --light-back: rgb(247, 242, 216);
  --heading-font: "Theano Didot", serif;
  --body-font2: "Cormorant Garamond", sans-serif;
  --body-font: "Swis721 Lt BT", sans-serif;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

html {
  height: 100%;

  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  /*overflow-x: hidden;*/
  background-color: var(--light-back);
  background-attachment: fixed;

  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: var(--body-font);
  font-weight: 100;
  font-size: 16px;
}

img {
  width: 100%;
}

h1 {
  font-family: var(--heading-font);
  font-size: 35px;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: 100;
}
h2 {
  padding: 0px;
  margin: 0px;
}

h3 {
  font-family: var(--heading-font);
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}
h4 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
h5 {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

hr {
  color: black;
}

a {
  color: var(--accent-color);
}

p.two-columns {
  columns: 2;
}

div#site-container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
  justify-items: center;
  align-items: center;
}
div#sidebar {
  height: max-content;
  padding: 10px;
  text-align: right;
}
div#sidebar header {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10px;
  padding-right: 0px;
  justify-items: end;
  align-items: center;
}
div#sidebar header section {
  height: max-content;

  padding-right: 10px;
}

div#sidebar nav {
  text-align: right;
}

div#sidebar nav ul {
  list-style: none;
  font-size: large;
}

div#sidebar nav ul li.active {
  color: var(--accent-color-2);
}
div#sidebar nav ul li:hover {
  color: var(--accent-color);
  cursor: pointer;
}
div#sidebar button {
  color: black;
  font-family: var(--body-font);
  padding: 5px 30px;
  border-radius: 0;
  border: none;
  background-color: transparent;
}
div#sidebar button:hover {
  border: black 1px solid;
  padding: 4px 29px;
}
div#main-container {
  background-origin: padding-box;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
div#main-container div#page-container {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  height: 100vh;
  transition: 2s;
  position: fixed;
}
div#main-container div#page-container.pos1 {
  animation-name: pos1;
}
div#main-container div#page-container.pos2 {
  animation-name: pos2;
}
div#main-container div#page-container.pos3 {
  animation-name: pos3;
}
div#main-container div#page-container.pos4 {
  animation-name: pos4;
}
div#main-container div#page-container.pos5 {
  animation-name: pos5;
}
div#main-container div#page-container.pos6 {
  animation-name: pos6;
}
div#main-container div#page-container.pos7 {
  animation-name: pos7;
}
div#main-container div#page-container div.page {
  display: flex; /* Make parent a flex-container */
  align-items: center; /* Centers child vertically */
  height: 100vh;
  width: 80%;
  background-color: var(--light-back);
  padding-left: 25px;
  padding-right: 25px;
}
div#main-container div#page-container div.page p {
  text-align: justify;
}

/*control visible*/
div#main-container div#page-container div.page.is-visible {
  transition: 2s;
  animation: reveal;
}

div#main-container div#page-container div.page.not-visible {
  transition: 2s;
  visibility: hidden;
}

/*educations*/

div#main-container div#page-container div#education.page div.info-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
div#main-container
  div#page-container
  div#education.page
  div.info-container
  div {
  padding-right: 20px;
}

div#main-container
  div#page-container
  div#education.page
  div.info-container
  div
  h4 {
  background-color: var(--accent-color-3);
}

/*SOCIALS*/
ul#socials {
  display: flex;
  padding-left: 0px;
  align-items: center;
  justify-content: end;
}

ul#socials li {
  list-style: none;
}

ul#socials li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  margin-left: 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul#socials li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

ul#socials li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul#socials li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

ul#socials li a:hover:before {
  top: 0;
}

ul#socials li:nth-child(1) a:before {
  background: #8b8a89;
}

ul#socials li:nth-child(2) a:before {
  background: #0d3a5e;
}

ul#socials li:nth-child(3) a:before {
  background: #0077b5;
}

ul#socials li:nth-child(4) a:before {
  background: #dd4b39;
}
video {
  width: 350px;
  height: 250px;
  float: left;
  padding: 0;
  margin: 0;
}

div#interest img {
  width: 100px;
  height: auto;
}

/*HOME ANIMATION*/

.text {
  font-size: 37px;
  width: 450px;
  left: 50%;
  height: 40px;
  top: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: max-content;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #7aad44;
}

.belize {
  color: #d4722d;
}

.pomegranate {
  color: #187720;
}

.green {
  color: #707425;
}

.midnight {
  color: #d54c27;
}

.highlight-1 {
  background-color: var(--accent-color-2);
}
.highlight-2 {
  background-color: var(--accent-color-4);
}
.highlight-5 {
  background-color: var(--accent-color-5);
}

@font-face {
  font-family: "Swis721 Lt BT";
  src: url("public/fonts/SWISS-721-LIGHT-BT.TTF");
}

@font-face {
  font-family: "Didot Regular";
  src: url("public/fonts/THEANODIDOT-REGULAR.TTF");
}

div#main-container div#page-container.pos1 {
  top: 0%;
}

div#main-container div#page-container.pos2 {
  top: -100%;
}
div#main-container div#page-container.pos3 {
  top: -200%;
}
div#main-container div#page-container.pos4 {
  top: -300%;
}
div#main-container div#page-container.pos5 {
  top: -400%;
}
div#main-container div#page-container.pos6 {
  top: -500%;
}
div#main-container div#page-container.pos7 {
  top: -600%;
}
div#main-container div#page-container.pos8 {
  top: -700%;
}

/**/
@-webkit-keyframes reveal {
  100% {
    visibility: visible;
  }
}
@keyframes reveal {
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes hide {
  100% {
    visibility: hidden;
  }
}
@keyframes hide {
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes pos1 {
  100% {
    top: -100%;
    background-color: blue;
  }
}
@keyframes pos1 {
  100% {
    top: -100%;
    background-color: blueviolet;
  }
}
@-webkit-keyframes pos2 {
  100% {
    top: -200%;
    background-color: blue;
  }
}
@keyframes pos2 {
  100% {
    top: -200%;
    background-color: blueviolet;
  }
}
@-webkit-keyframes pos3 {
  100% {
    top: -300%;
    background-color: blue;
  }
}
@keyframes pos3 {
  100% {
    top: -300%;
    background-color: blueviolet;
  }
}

@-webkit-keyframes pos4 {
  100% {
    top: -400%;
    background-color: blue;
  }
}
@keyframes pos4 {
  100% {
    top: -400%;
    background-color: blueviolet;
  }
}

@-webkit-keyframes pos5 {
  100% {
    top: -500%;
    background-color: blue;
  }
}
@keyframes pos5 {
  100% {
    top: -500%;
    background-color: blueviolet;
  }
}

@-webkit-keyframes pos6 {
  100% {
    top: -600%;
    background-color: blue;
  }
}
@keyframes pos6 {
  100% {
    top: -600%;
    background-color: blueviolet;
  }
}
@-webkit-keyframes pos7 {
  100% {
    top: -700%;
    background-color: blue;
  }
}
@keyframes pos7 {
  100% {
    top: -700%;
    background-color: blueviolet;
  }
}
