@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

:root {
  --accent-color-6: rgb(83, 148, 60);
  --accent-color-1: #52975f;
  --accent-color-3: #d1a25c;
  --accent-color-4: #91c832;
  --accent-color-5: #e8d94f;
  --accent-color-2: #de6948;

  --currblock: 1;
  --light-back: rgb(247, 242, 216);
  --heading-font: "Didot", serif;
  --body-font2: "Cormorant Garamond",serif;
  --body-font: "Swis721 Lt BT", sans-serif;
}
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
.gray {
  color: grey;
}

div#main-container div#page-container #break {
    display: none;
  }
html {
  height: 100%;

  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  /*overflow-x: hidden;*/
  background-color: var(--light-back);
  background-attachment: fixed;
  
background-position: to;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 100%;
  font-family: var(--body-font);
  font-weight: 100;
  font-size: 15px;
}

img {
  width: 100%;
}

h1 {
  font-family: var(--heading-font);
  font-size: 35px;
  line-height: 30px;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: 100;
}
h2 {
  padding: 0px;
  margin: 0px;
}

h3 {
  font-family: var(--heading-font);
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}
h4 {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}
h5 {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  font-weight: 200;
}

hr {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: var(--accent-color-1);
  text-decoration: underline solid 1px;
}

p.two-columns {
  columns: 2;
}

ul {
  list-style: none;
  text-indent: none;
  padding-left: 0;
}


div#site-container {
  display: grid;
  grid-template-columns: 40% 60%;
  height: 100%;
  justify-items: center;
  align-items: center;
 
}
div#sidebar {
  height: max-content;
  margin-left: 8%;
  padding: 10px;
  text-align: right;
  background-image: url("public/images/backgroundimg.jpg");
  background-size: cover;
  
  
}

div#sidebar header {
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 10px;
  padding-right: 10px;
  padding-left: 30px;
  justify-items: end;
  align-items: center;
  
  }
div#sidebar header section {
  height: max-content;
  padding-right: 10px;
  
}

div#sidebar header img {
  
}

div#sidebar nav {
  text-align: right;
}

div#sidebar nav ul {
  list-style: none;
  font-size: 20px;
}
div#sidebar nav ul li a {
  background-color: rgb(255, 255, 255);

}
div#sidebar nav ul li a:hover {
  text-decoration: none;
}
div#sidebar nav ul li.active {
  color: var(--accent-color-2);
}
div#sidebar nav ul li:hover {
  color: var(--accent-color-1);
 
}
div#sidebar button {
  color: black;
  font-family: var(--body-font);
  padding: 5px 30px;
  border-radius: 0;
  border: none;
  background-color: white;
}
div#sidebar button:hover {
  background-color: var(--accent-color-3);
  color: white;
}
div#main-container {
  background-origin: padding-box;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}
div#main-container div#page-container {
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  height: 100vh;
  transition: 2s;
  position: fixed;
}
div#main-container div#page-container.pos1 {
  animation-name: pos1;
}
div#main-container div#page-container.pos2 {
  animation-name: pos2;
}
div#main-container div#page-container.pos3 {
  animation-name: pos3;
}
div#main-container div#page-container.pos4 {
  animation-name: pos4;
}
div#main-container div#page-container.pos5 {
  animation-name: pos5;
}
div#main-container div#page-container.pos6 {
  animation-name: pos6;
}
div#main-container div#page-container.pos7 {
  animation-name: pos7;
}
div#main-container div#page-container div.page {
  display: flex; /* Make parent a flex-container */
  align-items: center; /* Centers child vertically */
  height: 100vh;
  width: 55cqw;
  padding-left: 30px;
  padding-right: 30px;
  
}
div#main-container div#page-container div.page p {
  text-align: justify;
  width: 100%;
}

/*control visible*/
div#main-container div#page-container div.page.is-visible {
  transition: 2s;
  animation: reveal;
}

div#main-container div#page-container div.page.not-visible {
  transition: 2s;
  visibility: hidden;
}

/*educations*/

div#main-container div#page-container div#education.page div.info-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
div#main-container
  div#page-container
  div#education.page
  div.info-container
  img {
    height: 130px;
    width: auto;
    display: block;
}
div#main-container
  div#page-container
  div#education.page
  div.info-container
  div {
  padding-right: 20px;
}

div#main-container
  div#page-container
  div#education.page
  div.info-container
  div
  span {
  font-size: 20px;
}
div#main-container
  div#page-container
  div#education.page p {
    margin: 10px 0;
  }

/*WORK EXPEIENECE*/
div#main-container div#page-container div#workexp.page div span {
  font-size: 20px;
}

/*SKILLS*/
div#main-container div#page-container div#skills.page section {
  display: grid;
  grid-template-columns: 30% 70%;
}
div#main-container div#page-container div#skills.page h5 {
  padding: 0;
  margin: 0;
}
div#main-container div#page-container div#skills.page ul.skills-ratings {
  width: auto;
}
div#main-container div#page-container div#skills.page ul {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}
div#main-container div#page-container div#skills.page ul.skills-ratings li {
  height: 25px;
  list-style: disc;
  display: grid;
  justify-items: start;
  align-items: start;
  text-align: left;
}

div#main-container div#page-container div#skills.page ul.skills-ratings li p {
  padding-right: 10px;
  text-align: left;
}
div#main-container div#page-container div#skills.page ul.skills-ratings li svg {
  
}

div#main-container div#page-container div#skills.page ul.skills-ratings li {
  list-style-type: disc;
  
}
div#main-container
  div#page-container
  div#skills.page
  ul.skills-ratings
  li
  rect {
  height: 10px;
}
div#main-container
  div#page-container
  div#skills.page
  ul.skills-ratings
  li circle {
    width: 20px;
  }

div#main-container
  div#page-container
  div#skills.page
  ul.skills-ratings
  li
  rect.scale {
  width: inherit;
  height: 10px;
  fill: transparent;
  stroke-width: 1;
  stroke: rgb(0, 0, 0);
}
div#main-container div#page-container div#skills.page ul li rect.score-10 {
  width: 10%;
}
div#main-container div#page-container div#skills.page ul li rect.score-20 {
  width: 20%;
}
div#main-container div#page-container div#skills.page ul li rect.score-30 {
   width: 30%;
}
div#main-container div#page-container div#skills.page ul li rect.score-40 {
  width: 40%;
}
div#main-container div#page-container div#skills.page ul li rect.score-50 {
  width: 50%;
}
div#main-container div#page-container div#skills.page ul li rect.score-60 {
  width: 60%;
}
div#main-container div#page-container div#skills.page ul li rect.score-70 {
  width:70%;
}
div#main-container div#page-container div#skills.page ul li rect.score-80 {
  width: 80%
}
div#main-container div#page-container div#skills.page ul li rect.score-90 {
  width: 90%;
}

div#main-container div#page-container div#interest.page div.container {
  width: 50cqw;
}


div#main-container div#page-container div#interest.page .interest-block {

}

div#main-container
  div#page-container
  div#interest.page
  div.card-container
  div.card {
  padding: 10px;
}
div#main-container
  div#page-container
  div#interest.page
  div.card-container
  div.card:nth-child(2) {
  grid-row: 1/3;
  grid-column: 2/3;
  justify-self: center;
}
div#main-container
  div#page-container
  div#interest.page
  div.card-container
  div.card
  img {
  float: left;
  width: 80px;
  height: min-content;
  padding-right: 7px;
}

/*SOCIALS*/
ul#socials {
  display: flex;
  padding-left: 0px;
  align-items: center;
  justify-content: end;
}

ul#socials li {
  list-style: none;
}

ul#socials li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  margin-left: 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

ul#socials li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

ul#socials li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

ul#socials li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

ul#socials li a:hover:before {
  top: 0;
}

ul#socials li:nth-child(1) a:before {
  background: #8b8a89;
}

ul#socials li:nth-child(2) a:before {
  background: #0d3a5e;
}

ul#socials li:nth-child(3) a:before {
  background: #0077b5;
}

ul#socials li:nth-child(4) a:before {
  background: #dd4b39;
}

/*work exp*/
div#workexp {
  width: 100%;
  height: auto;
}
div#workexp div {
  width: 100%;
}
div#workexp div#workexp-content {
  width: 100%;
  display: grid;
  grid-template-columns: 7% 86% 7%;
}
div#workexp div#workexp-content span.material-symbols-outlined {
  align-self: center;
  padding: 10px 0px;
  height: 300px;
}

div#workexp div#workexp-content span.material-symbols-outlined:hover {
  color: black;
}
div#workexp div#workexp-content div#workexp-cards {
  display: grid;
  grid-template-columns: 100%;
  overflow: hidden;
}
div#workexp div#workexp-content div#workexp-cards div.card {
  display: none;
  height: 300px;
  width: 100%;
}
div#workexp div#workexp-content div#workexp-cards .card.active {
  display: block;
  width: 100%;
}

/*INterests*/
div#interest img {
  width: 100px;
  height: auto;
}

/*HOME ANIMATION*/

div#main-container div#page-container div#home.page .text {
  display: flex;
  font-size: 37px;
  width: fit-content;
  left: 50%;
  height: fit-content;
  top: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

div#main-container div#page-container div#home.page .text p:nth-child(1) {
  width: fit-content;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: max-content;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: var(--accent-color-1);
}

.belize {
  color: var(--accent-color-2);
}

.pomegranate {
  color: var(--accent-color-3);
}

.green {
  color: var(--accent-color-4);
}

.midnight {
  color: var(--accent-color-5);
}

.highlight-0 {
  background-color: white;
}

.highlight-1 {
  background-color: var(--accent-color-6);
}
.highlight-2 {
  background-color: var(--accent-color-2);
}
.highlight-3 {
  background-color: var(--accent-color-3);
}
.highlight-4 {
  background-color: var(--accent-color-4);
}
.highlight-5 {
  background-color: var(--accent-color-5);
}

@font-face {
  font-family: "Swis721 Lt BT";
  src: url("public/fonts/SWISS-721-LIGHT-BT.TTF");
}

@font-face {
  font-family: "Didot Regular";
  src: url("public/fonts/THEANODIDOT-REGULAR.TTF");
}

div#main-container div#page-container.pos1 {
  top: 0%;
}

div#main-container div#page-container.pos2 {
  top: -100%;
}
div#main-container div#page-container.pos3 {
  top: -200%;
}
div#main-container div#page-container.pos4 {
  top: -300%;
}
div#main-container div#page-container.pos5 {
  top: -400%;
}
div#main-container div#page-container.pos6 {
  top: -500%;
}
div#main-container div#page-container.pos7 {
  top: -600%;
}
div#main-container div#page-container.pos8 {
  top: -700%;
}

div#main-container div#page-container div#projects.page {
}
div#main-container div#page-container div#projects div.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;
}
div#main-container div#page-container div#projects div.card-container .card {
  width: auto;
  margin-right: 20px;
  padding: 13px;
  padding-left: 0;
  
}

div#main-container div#page-container div#projects div.card-container .card img:hover {
  text-decoration: none;
  
}

div#main-container div#page-container div#projects div.card-container .card img {
  width: 90%;
  padding: 10px;
  border: black 1px solid;
  height: fit-content;
}

div#main-container div#page-container div#projects div.card-container .card p {
  margin: 15px 0;

}

div#main-container div#page-container div#projects div.card-container a {
  font-size: 20px;
}

div#main-container div#page-container div#awards .medium{
  font-size: 19px;
}

div#main-container div#page-container div#awards p {
  text-align: justify;
  margin-bottom: 10px;
}

/**/
@-webkit-keyframes reveal {
  100% {
    visibility: visible;
  }
}
@keyframes reveal {
  100% {
    visibility: visible;
  }
}

@-webkit-keyframes hide {
  100% {
    visibility: hidden;
  }
}
@keyframes hide {
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes pos1 {
  100% {
    top: -100%;
    background-color: blue;
  }
}
@keyframes pos1 {
  100% {
    top: -100%;
    background-color: blueviolet;
  }
}
@-webkit-keyframes pos2 {
  100% {
    top: -200%;
    background-color: blue;
  }
}
@keyframes pos2 {
  100% {
    top: -200%;
    background-color: blueviolet;
  }
}
@-webkit-keyframes pos3 {
  100% {
    top: -300%;
    background-color: blue;
  }
}
@keyframes pos3 {
  100% {
    top: -300%;
    background-color: blueviolet;
  }
}

@-webkit-keyframes pos4 {
  100% {
    top: -400%;
    background-color: blue;
  }
}
@keyframes pos4 {
  100% {
    top: -400%;
    background-color: blueviolet;
  }
}

@-webkit-keyframes pos5 {
  100% {
    top: -500%;
    background-color: blue;
  }
}
@keyframes pos5 {
  100% {
    top: -500%;
    background-color: blueviolet;
  }
}

@-webkit-keyframes pos6 {
  100% {
    top: -600%;
    background-color: blue;
  }
}
@keyframes pos6 {
  100% {
    top: -600%;
    background-color: blueviolet;
  }
}
@-webkit-keyframes pos7 {
  100% {
    top: -700%;
    background-color: blue;
  }
}
@keyframes pos7 {
  100% {
    top: -700%;
    background-color: blueviolet;
  }
}
div#main-container div#page-container div#interest.page .scroller {
  width: 100%;
}

div#main-container div#page-container div#interest.page .scroller__inner {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-transform: uppercase;
}

div#main-container
  div#page-container
  div#interest.page
  .scroller[data-animated="true"] {
  overflow: hidden;
}

div#main-container
  div#page-container
  div#interest.page
  .scroller[data-animated="true"]
  .scroller__inner {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  -webkit-animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

div#main-container
  div#page-container
  div#interest.page
  .scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

div#main-container
  div#page-container
  div#interest.page.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

div#main-container
  div#page-container
  div#interest.page
  .scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

div#main-container
  div#page-container
  div#interest.page
  .scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@-webkit-keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/*
body {
  display: grid;
  min-block-size: 100vh;
  place-content: center;
  font-family: system-ui;
  font-size: 1.125rem;
  background-color: var(--clr-primary-800);
}*/

div#main-container div#page-container div#interest.page .tag-list {
  margin: 0 auto;
  padding-inline: 0;
  list-style: none;
}

div#main-container div#page-container div#interest.page .tag-list li {
  padding: 1rem;
  background-color: white;
}
div#main-container
  div#page-container
  div#interest.page
  .tag-list
  li:nth-child(5n + 1) {
  color: var(--accent-color-2);
}
div#main-container
  div#page-container
  div#interest.page
  .tag-list
  li:nth-child(5n + 2) {
  color: var(--accent-color-3);
}
div#main-container
  div#page-container
  div#interest.page
  .tag-list
  li:nth-child(5n + 3) {
  color: var(--accent-color-4);
}
div#main-container
  div#page-container
  div#interest.page
  .tag-list
  li:nth-child(5n + 4) {
  color: var(--accent-color-5);
}
div#main-container
  div#page-container
  div#interest.page
  .tag-list
  li:nth-child(5n) {
  color: var(--accent-color-1);
}

/* for testing purposed to ensure the animation lined up correctly */
div#main-container div#page-container div#interest.page .test {
  background: red !important;
}

@media screen and (max-width: 1150px ){

}
@media screen and (max-width: 870px) {
  body {

  }
  div#site-container {
  grid-template-columns: 100%;
  }

  

  div#sidebar {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    background-image: none;
    
    margin-left: 0px;
  }
  div#sidebar header {
    
    width: fit-content;
    padding: 90px 10px;
    padding-bottom: 10px;
    grid-template-columns: auto auto

  }

  div#sidebar header img {
    max-height: 30cqw;
    justify-self: start;
  }
  div#sidebar nav {
    display: none;
   
  }

  div#sidebar address {
    position: fixed;
    bottom: 10px;
    align-self: auto;
    width: 100%;
    padding: 10px;
    margin: 0;
    z-index: 2;
    left: 0;
    bottom: 0;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
  }

  div#sidebar address a {
    justify-self: start;
      
  }
  div#sidebar address  a button {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: white 3px solid;
  }

  div#sidebar address  a:hover button {
    background-color: white;
    padding: 10px;
    text-decoration: solid 1px black;
  }

  div#main-container {
    position: inherit;
    top: 0%;
  }
 

  div#main-container div#page-container {
    position: relative;
    display: block;
    width: 100%;
    overflow: visible;
  }
   div#main-container div#page-container div.page {
    height:max-content;
    width: fit-content;
    overflow: visible;
    display: block;
    padding-bottom: 30px;
  }

  div#main-container div#page-container div#home {
    visibility: visible;
  }
  div#main-container div#page-container div#education {
    visibility: visible;
  }
  div#main-container div#page-container div#education .gray{
    display: none;
  }
  div#main-container div#page-container div#education.page div.info-container {
      grid-template-columns: 100%;
  }
  div#main-container div#page-container div#skills {
    visibility: visible;
  }
  div#main-container div#page-container div#projects {
    visibility: visible;
  }

  div#main-container div#page-container div#projects div.card-container .card{
    padding: 9px;
    margin: 0;
  }
  div#main-container div#page-container div#workexp {
    visibility: visible;
  }
  div#main-container div#page-container div#awards {
    visibility: visible;
  }

  div#main-container div#page-container div#interest.page div.container {
    visibility: visible;
    width: 85cqw;
    padding-bottom: 100px;
  }

  p.two-columns {
    columns: 1;
  }
} 
@media screen and (max-width: 375px) {
   div#main-container div#page-container #break {
    display: inline;

  }
  div#main-container div#page-container div#home.page .text {
    height: 80px;
  }
div#sidebar address {
   
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
  }
  div#sidebar img {
    visibility:hidden;
  }
  div#sidebar address {
    width: 100%;
    align-content: center;
    justify-content: center;
  }
  div#sidebar address a button {
    align-self: center;
    justify-self: center;
    width: max-content;
  }
}
